<!DOCTYPE html>
<html lang="es">
  <%- include('cabecera', {tituloweb: 'PFG de Garazi Gartzia'}); %>

  <body class="container">
    <%- include('navbar') %>
    
    <h1>Hola a EJS <%= titulo %></h1>
    
    <%- include('footer'); %>
  </body>
</html>
